<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
        <exchangeName>AuthProvider</exchangeName>
        <host>${RABBIT_MQ_IP}</host>
        <port>5672</port>
        <username>guest</username>
        <password>guest</password>
        <exchangeType>topic</exchangeType>
        <applicationId>AuthLogging</applicationId>
        <routingKeyPattern>auth-log</routingKeyPattern>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>false</durable>
        <deliveryMode>NON_PERSISTENT</deliveryMode>
    </appender>

    <root level="info">
        <appender-ref ref="AMQP" />
    </root>
</configuration>